<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>main</string>
	<key>Description</key>
	<string>File containing all necessary code required by other Clean Swift templates and additional helpers commonly used in the Clean Swift implementation.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>20</string>
	<key>Summary</key>
	<string>Code required by the Clean Swift implementation.</string>
</dict>
</plist>
